<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yourname.personalassistant" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Personal Assistant</name>
    <description>Your private AI assistant</description>
    <author email="you@email.com" href="https://github.com/yourname">You</author>
    
    <content src="index.html" />
    
    <!-- Permissions needed -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_CONTACTS" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>
    </platform>
    
    <!-- Plugins needed -->
    <plugin name="cordova-plugin-file" spec="7.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="2.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="2.0.2" />
    <plugin name="cordova-plugin-local-notification" spec="1.0.0" />
    <plugin name="cordova-plugin-contacts" spec="3.1.0" />
    
    <!-- Icon setup -->
    <icon src="icon.png" />
    
    <!-- Splash screen -->
    <splash src="splash.png" />
</widget>
